<%= form_for @post do |f| %>
<form class="form-horizontal">
    
    <div class='row'>
      <div class='col-md-4 col-md-offset-4'>
        
    <div class="form-group">
		  <%= f.label :title %> <br />
		  <%= f.text_field :title, class: 'form-control' %>
    </div>

    <div class="form-group">
		  <%= f.label :body %> <br />
		  <%= f.text_area :body, class: 'form-control' %>
    </div>
	<%= f.submit 'Save it', class: 'btn btn-default btn-block '%>

      </div>
  </div>
</form>
<% end %>
