<div class="container">
  <table class="table table-bordered">
    <thead>
      <tr>
          <td>Title</td>
          <td>Body</td>
          <td>Creator</td>
          <td>Action</td>
      </tr>
    </thead>
    <tbody>
<% @posts.each do |p| %>
      <tr>
          <td><%= p.title %></td>
          <td><%= p.body %></td>
          <td>User</td>
          <td>
              <%= link_to "delete", p, method: :delete, data:{confirm: 'Вы в этому уверенны ?'}, class: 'btn btn-default btn-sm' %>
              <%= link_to "edit", edit_post_path(p), class: 'btn btn-default btn-sm'%>
              <%= link_to "show", post_path(p), class: 'btn btn-default btn-sm'%> <br />           
          </td>
      </tr>
<% end %>
    </tbody>
  </table>

<br /> <%= link_to "New Post", new_post_path, class: 'btn btn-default btn-block' %>
</div>
