<div class='container '>
  <div class='row bg-post col-md-12 col-md-offset-0'>
    <h1> <%= @post.title %></h1>
    <%= @time %> by user <%=  %>
    <p>
      <span id='post-text-show'><%= @post.body %></span>
    </p>
    <%= link_to 'Back', posts_path, class: 'btn btn-default'%>
  </div>
</div>
<br>
